.title {
  font-family: "Cyberway";
  color: #fe00f4;
  /* margin-top: 0.5em; */
  background-image: -webkit-linear-gradient(270deg, #fe00f4 30%, black 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
