.EditorBG {
  width: 100vw;
  height: 80vh;
  margin-top: 5em;
  /* background-color: white !important; */
  padding: 0 4em;
}
.ql-snow {
  background-color: black;
  color: white;
}
.ql-toolbar {
  background-color: white;
}

.ql-editor {
  padding: 3vw !important;
  height: 80vh !important;
}

.ql-container {
  font-size: large !important;
  background-color: black;
}
div.ql-editor.ql-blank::before {
  color: white !important;
  padding-left: 2rem !important;
}

.publish {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(245, 2, 247);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin: 2rem 1rem;
  font-family: "Poppins";
}

.publish:hover {
  background: rgb(245, 2, 247);
  box-shadow: 0 0 30px 5px rgb(202, 0, 175);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.publish:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.publish::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.publish:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
