/* Custom Font Faces */
@font-face {
  font-family: "Open Sans Condensed Regular";
  src: url("../fonts/os_condensed.ttf") format("truetype");
}

@font-face {
  font-family: "Consolas";
  src: url("../fonts/consola.ttf") format("truetype");
}

@font-face {
  font-family: "Cyberway";
  src: url("../fonts/cyberway.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

/* Sections */

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding: 7vw;
}

.section2 {
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10vh 0 50vh 0;
}

.section3 {
  padding-top: 5vh;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-container {
  width: 100%;
}

.about_terminal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4em;
  font-size: 1.8vw;
}

.section4 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.part1 {
  /* padding-bottom: 5em; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.term1 {
  margin-top: 3vw;
  margin-left: 10vw;
}
/* .coverImage {
  margin-right: 10rem;
} */
.cover-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section5 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Standalone Components */

.banner_image {
  overflow: hidden;
  max-width: 40%;
  max-height: 70%;
  margin-top: 8em;
}

.icon_set {
  display: inline-grid;
  gap: 4em;
  column-gap: 5em;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 6vh;
}

.btns {
  display: grid;
  margin-top: 8vh;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
  padding: 0 10em;
}

.contact-button {
  width: 12rem;
  height: 4rem;
}
/* Media Queries */

@media screen and (max-width: 1000px) {
  .title {
    font-size: 5em !important;
  }
  .section1 {
    /* margin-top: -1rem; */
    padding: 0;
  }
  .cover-image {
    width: 22em;
  }
  .term1 {
    margin-left: 0;
  }
  .about_terminal {
    font-size: 1em !important;
  }
  .part1 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .icon_set {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5em;
  }
  .btns {
    grid-template-columns: repeat(1, 1fr);
  }
}
