.subHeading{
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
    color: white;
    background-image: none;
    font-size: 4em;
    padding-top: 1.2em;
    margin-bottom: 1em;
}
